!!! 5
hmtl(ng-app='main')
  head
    meta(name='author', content='Marek Rusinowski')
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    
    link(rel='stylesheet', media='screen', href='css/bootstrap.min.css')
    link(rel='stylesheet', media='screen', href='css/style.css')

    script(type='text/javascript', src='js/jquery-1.10.2.min.js')
    script(type='text/javascript', src='js/ace.min.js')
    script(type='text/javascript', src='js/ace/theme-monokai.js')
    script(type='text/javascript', src='js/ace/mode-python.js')
    script(type='text/javascript', src='js/angular.min.js')
    script(type='text/javascript', src='js/angular/angular-resource.min.js')
    script(type='text/javascript', src='js/angular/ui-ace.js')
    script(type='text/javascript', src='js/bootstrap.min.js')
    script(type='text/javascript', src='js/js.js')
    
    title MOKIKPython
  body
    div(ng-controller='IDEController', ng-init='init()')
      nav.navbar.navbar-inverse.navbar-static-top(role='navigation')
        .navbar-header
          span.navbar-brand MOKIKPython
        .status.navbar-text.pull-right.
          {{ status }}
      .editor(ui-ace='{onLoad: editorLoaded}')
        | print "Hello World!"
      .output_box
        .mover
        .output_hide
          i.glyphicon.glyphicon-chevron-down
        .output
          {{ output }}